body {
  background-color: #15151e;
}

/*
#msg1 {
  color: red;
  text-align: center;
}

#msg2 {
  color: red;
  text-align: center;
}*/


#subjects_table {
  font-size: 4vh;
  text-align: center;
  margin:auto;
}


/* Google Fonts 読み込み */
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

/* 全体を囲うコンテナー */
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

/* 時計の共通スタイル */
.clock {
  font-family: 'Share Tech Mono', monospace;
  color: #daf6ff;
  text-shadow: 0 0 20px #0aafe6;
  line-height: 1.2;
  text-align: center;
}

/* 日付のスタイル */
.clock-date {
  font-size: 10vh;
  margin-bottom: 0vh;
}

/* 時間のスタイル */
.clock-time {
  font-size: 25vh;
  margin-top: 0vh;
  margin-bottom: 2.5vh;
}

/* コメントのスタイル */
#day_msg {
  font-size: 10vh;
  margin-bottom: 2.5vh;
}

/* 文字サイズ調整 */
/*@media screen and (max-width: 500px) {
  .clock-date {
    font-size: 5vw;
  }
  #day_msg {
    font-size: 5vw;
  }
  .clock-time {
    font-size: 20vw;
  }
}*/